<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Croztek | IT Solution for your Online Presence</title>
    <meta name="description" content="IT Solution for Online Presence" />
    <meta
      name="keyword"
      content="website Development, website Design,croztek.com, crosstech it solution,
      croztek, Croztek Electric Private Limited Information,
       Croztek, Crosstech,
       Croztek Electric Private Limited, 
       Croztek Voltage Converter, digital transformation, software development, cloud Hosting, web description, web development"
    />
    <meta name="author" content="croztek.com" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="css/templatemo-style.css" />
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.singlePageNav.min.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/custom.js"></script>
  </head>
  <body id="top">
    <!-- start preloader -->
    <div class="preloader">
      <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
      </div>
    </div>
    <!-- end preloader -->

    <!-- start header -->
    <!-- <header>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <p><i class="fa fa-phone"></i><span> Phone</span>010-020-0340</p>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <p>
              <i class="fa fa-envelope-o"></i><span> Email</span
              ><a href="#">awesome@company.com</a>
            </p>
          </div>
          <div class="col-md-5 col-sm-4 col-xs-12">
            <ul class="social-icon">
              <li><span>Meet us on</span></li>
              <li><a href="#" class="fa fa-linkedin"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-instagram"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </header> -->
    <!-- end header -->

    <!-- start navigation -->
    <nav class="navbar navbar-default templatemo-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          >
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">CrozTek</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#top">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#service">SERVICE</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end navigation -->

    <!-- start home -->
    <section id="home">
      <% if(fullname != '') { %>
      <div
        class="alert alert-success alert-dismissible"
        role="alert"
        style="background-color: #8cdd10; color: rgb(10, 10, 36)"
      >
        Your query has been sent,we will get back to You .Thank You!
        <button type="button" class="close" data-dismiss="alert">x</button>
      </div>
      <% } %>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
              We provide solution for <span>Online Presence</span>
            </h1>
            <div class="element">
              <div class="sub-element">
                IT solution for Digital Transformation
              </div>
              <div class="sub-element">
                Ecommerce website, ERP Solutions, Blog and Portfolio websites
              </div>
              <div class="sub-element">
                From Designing to making scalable secured live web application
              </div>
            </div>
            <a
              data-scroll
              href="#contact"
              class="btn btn-default wow fadeInUp"
              data-wow-offset="50"
              data-wow-delay="0.6s"
              >GET STARTED</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- end home -->

    <!-- start about -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
              WE ARE <span>CROZTEK</span>
            </h2>
          </div>
          <div
            class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft"
            data-wow-offset="50"
            data-wow-delay="0.6s"
          >
            <div class="media">
              <div class="media-heading-wrapper">
                <div class="media-object pull-left">
                  <i class="fa fa-money"></i>
                </div>
                <h3 class="media-heading">Affordable</h3>
              </div>
              <div class="media-body">
                <p>
                  Make your digital transformation with Affordable Price and
                  grow your business.
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp"
            data-wow-offset="50"
            data-wow-delay="0.9s"
          >
            <div class="media">
              <div class="media-heading-wrapper">
                <div class="media-object pull-left">
                  <i class="fa fa-comment-o"></i>
                </div>
                <h3 class="media-heading">FREE SUPPORT</h3>
              </div>
              <div class="media-body">
                <p>
                  Free Support for 3 months after the completion of project time
                  period.
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight"
            data-wow-offset="50"
            data-wow-delay="0.6s"
          >
            <div class="media">
              <div class="media-heading-wrapper">
                <div class="media-object pull-left">
                  <i class="fa fa-html5"></i>
                </div>
                <h3 class="media-heading">Technologies</h3>
              </div>
              <div class="media-body">
                <p>
                  We are working in latest technologies like Nodejs, Reactjs,
                  Nextjs, Django, Flask etc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end about -->

    <!-- start service -->
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
              OUR <span>CROZTEK</span> THINGS
            </h2>
          </div>
          <div
            class="col-md-4 wow fadeIn"
            data-wow-offset="50"
            data-wow-delay="0.6s"
          >
            <i class="fa fa-laptop"></i>
            <h4>Web Development</h4>
            <p>
              Fulltack web application development from zero to scalable and
              secured live application including payment gateways and Admin
              panel.
            </p>
          </div>
          <div
            class="col-md-4 wow fadeIn"
            data-wow-offset="50"
            data-wow-delay="0.9s"
          >
            <i class="fa fa-cloud"></i>
            <h4>Cloud Hosting</h4>
            <p>
              Deploy your web application to cloud server like AWS with CI/CD
              automation and monitoring the logs.
            </p>
          </div>
          <div
            class="col-md-4 wow fadeIn"
            data-wow-offset="50"
            data-wow-delay="0.6s"
          >
            <i class="fa fa-cog"></i>
            <h4>UI Design</h4>
            <p>
              Fully responsive UI Design for your websites using the latest
              technologies that engage your audience.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- end servie -->

    <!-- start portfolio -->
    <!--     <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
              <span>CROZTEK</span> PORTFOLIO
            </h2>
          </div>
          <div
            class="col-md-3 col-sm-6 col-xs-12 wow fadeIn"
            data-wow-offset="50"
            data-wow-delay="0.6s"
          >
            <div class="portfolio-thumb">
              <img
                src="images/portfolio-img2.jpg"
                class="img-responsive"
                alt="portfolio img 1"
              />
              <div class="portfolio-overlay">
                <h4>Project One</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque
                  tempus ac eget dia.
                </p>
                <a href="#" class="btn btn-default">DETAIL</a>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 col-sm-6 col-xs-12 wow fadeIn"
            data-wow-offset="50"
            data-wow-delay="0.6s"
          >
            <div class="portfolio-thumb">
              <img
                src="images/portfolio-img2.jpg"
                class="img-responsive"
                alt="portfolio img 2"
              />
              <div class="portfolio-overlay">
                <h4>Project Two</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque
                  tempus ac eget dia.
                </p>
                <a href="#" class="btn btn-default">DETAIL</a>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 col-sm-6 col-xs-12 wow fadeIn"
            data-wow-offset="50"
            data-wow-delay="0.6s"
          >
            <div class="portfolio-thumb">
              <img
                src="images/portfolio-img2.jpg"
                class="img-responsive"
                alt="portfolio img 3"
              />
              <div class="portfolio-overlay">
                <h4>Project Three</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque
                  tempus ac eget dia.
                </p>
                <a href="#" class="btn btn-default">DETAIL</a>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 col-sm-6 col-xs-12 wow fadeIn"
            data-wow-offset="50"
            data-wow-delay="0.6s"
          >
            <div class="portfolio-thumb">
              <img
                src="images/portfolio-img2.jpg"
                class="img-responsive"
                alt="portfolio img 4"
              />
              <div class="portfolio-overlay">
                <h4>Project Four</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque
                  tempus ac eget dia.
                </p>
                <a href="#" class="btn btn-default">DETAIL</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- end portfolio -->

    <!-- start contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
              CONTACT <span>CROZTEK</span>
            </h2>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12"></div>
          <div
            class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft"
            data-wow-offset="50"
            data-wow-delay="0.9s"
          >
            <form
              action="/sendmail"
              name="myForm"
              method="post"
              onsubmit="return validateForm()"
            >
              <label>NAME</label>
              <input
                name="fullname"
                type="text"
                class="form-control"
                id="fullname"
                required
              />

              <label>EMAIL</label>
              <input
                name="email"
                type="email"
                class="form-control"
                id="email"
                required
              />

              <label>PHONE</label>
              <input
                name="number"
                type="tel"
                class="form-control"
                maxlength="10"
                id="number"
                required
              />
              <label>MESSAGE</label>
              <textarea
                name="message"
                rows="4"
                class="form-control"
                id="message"
                required
              ></textarea>

              <input type="submit" class="form-control" />
            </form>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12"></div>
          <!-- <div
            class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight"
            data-wow-offset="50"
            data-wow-delay="0.6s"
          >
            <address>
              <p class="address-title">OUR ADDRESS</p>
              <span
                >Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque
                tempus ac eget diam et laoreet phasellus ut nisi id leo
                molestie.</span
              >
              <p><i class="fa fa-phone"></i> 010-020-0340</p>
              <p><i class="fa fa-envelope-o"></i> awesome@company.com</p>
              <p>
                <i class="fa fa-map-marker"></i> 663 New Walk Roadside, Birdeye
                View, GO 11020
              </p>
            </address>
            <ul class="social-icon">
              <li><h4>WE ARE SOCIAL</h4></li>
              <li><a href="#" class="fa fa-linkedin"></a></li>
              <li><a href="#" class="fa fa-instagram"></a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </section>
    <!-- end contact -->

    <!-- start copyright -->
    <footer id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
              Copyright &copy; CrozTek
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- end copyright -->

    <script>
      function validateForm() {
        let name = document.forms["myForm"]["fullname"].value;
        let email = document.forms["myForm"]["email"].value;
        let number = document.forms["myForm"]["number"].value;
        let query = document.forms["myForm"]["message"].value;
        if (name.toString().trim() === "") {
          alert("Name field must be filled out");
          return false;
        } else if (email.toString().trim() === "") {
          alert("Email field must be filled out");
          return false;
        } else if (number.toString().trim() === "") {
          alert("Ph Number field must be filled out");
          return false;
        } else if (
          number.toString().trim() !== "" &&
          number.toString().trim().length < 10
        ) {
          alert("Ph number Must be 10 Digits");
          return false;
        } else if (query.toString().trim() === "") {
          alert("Message field must be filled out");
          return false;
        } else {
          return true;
        }
      }
    </script>
    <script>
      $(document).ready(function () {
        window.setTimeout(function () {
          $(".alert")
            .fadeTo(1000, 0)
            .slideUp(1000, function () {
              $(this).remove();
            });
        }, 5000);
      });
    </script>
  </body>
</html>
